.banner-etiqueta{
    margin-top:90px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    max-width: 1200px;
}

/*contiene todo*/
.banner-contenido{
    display: flex;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
}
.banner-contenido img{
    max-width: 100%;
    height: auto;

}

