.contenedor-producciones{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    min-height: 70vh;
    margin: auto;
    justify-content: center;
}

.titulo-producciones{
    
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    margin: 0 auto;
    font-size: large;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: white;
    padding-left: 7rem;
}

.moviecard{/*clase*/
    color: #fff;
    display: flex;
    margin: 0rem 1rem 2rem 1rem;
    flex-direction: column;
    width: 16%;
}
.moviecard img{
    width: 180px;
    height: 270px;
    border-radius: 0.3rem;
}
.titulo-produccion{
    width: 100%;
    margin-top: 1rem;
    overflow: auto; /* Esto permite que el texto se desplace verticalmente si es demasiado largo */
}

.container{
    
    display: contents;
    justify-content: center;
    align-items: center;
    max-width: 70%;    
}