:root {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
}

body{
  background: linear-gradient(#00314c, #00121c, #000000);
  display: flex;
  justify-content: center;
}

#banner p{/*id*/
  color: #fff;
  display: flex;
  justify-content: center;

}

.bannertop{
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
